* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #08AEEA;
    background-image: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.inputBox {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid green;
    outline: none;
}

.getBtn {
    padding: 10px 20px;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px;
    border: 2px solid green;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.getBtn:hover {
    background: green;
    color: white;
}

@media screen and (min-width: 768px) {
    .container {
        width: 50%;
    }
}